<li class="dropdown">
<a href="" class="dropdown-toggle" data-toggle="dropdown">Влез <b class="caret"></b></a>
<ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
  <li>
     <div class="row">
        <div class="col-md-12">
        <%= form_for(@login, url: sign_in_path, html: { class: "form", role: "form", id: "login-nav" }) do |f| %>

          <div class="form-group">     
            <label class="sr-only" for="exampleInputEmail2"> Имейл </label>
            <%= f.text_field(:email, class: "form-control", id: "exampleInputEmail2", placeholder: "Email address", type: "email", required: true) %>
          </div>
          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword2">Парола</label>
            <%= f.password_field(:password, class: "form-control", id: "exampleInputPassword2", placeholder: "Password", required: true) %>
          </div>
          <div class="checkbox">
            <label><%= check_box_tag 'login[memorable]', 'memorable' %>Запомни ме
            </label>
          </div>
          <div class="form-group">
            <%= f.submit('Влез', class: "btn btn-success btn-block") %>
          </div>
        <% end %>
        </div>
     </div>
  </li>
</ul>
</li>


